<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>List of all authors</title>
    <style type="text/css">
        body {
            padding: 50px;
        }

        .authors, .authors td {
            border: 1px solid lightgray;
            padding: 5px;
        }

    </style>
</head>
<body>
<h1>Authors:</h1>

<td><a th:href="@{/library/authors/create}">Create new author</a></td>

<table class="authors">
    <thead>
    <tr>
        <th>Id</th>
        <th>Name</th>
    </tr>
    </thead>
    <tbody>
        <tr th:each="author : ${authors}">
            <td th:text="${author.id}">1</td>
            <td th:text="${author.name}">John Doe</td>
            <td><a th:href="@{/library/authors/edit/{id}(id=${author.id})}">Edit</a></td>
            <td><a th:href="@{/library/authors/delete/{id}(id=${author.id})}">Delete</a></td>
        </tr>
    </tbody>
</table>
</body>
</html>
