<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>List of all books</title>
    <style type="text/css">
        body {
            padding: 50px;
        }

        .books, .books td {
            border: 1px solid lightgray;
            padding: 5px;
        }

    </style>
</head>
<body>
<div>
    <td><a th:href="@{/library}">Home</a></td>
</div>
<hr>

<h1>Books:</h1>

<td><a th:href="@{/library/books/create}">Create new book</a></td>

<table class="books">
    <thead>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Genre</th>
        <th>Author</th>
    </tr>
    </thead>
    <tbody>
        <tr th:each="book : ${books}">
            <td th:text="${book.id}">1</td>
            <td th:text="${book.name}">Clean code</td>
            <td th:text="${book.genre}">Programming</td>
            <td th:text="${book.author}">Martin R.</td>
            <td><a th:href="@{/library/books/{id}(id=${book.id})}">View</a></td>
        </tr>
    </tbody>
</table>
</body>
</html>
