<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Edit comment</title>
    <style type="text/css">
        body {
            padding: 50px;
        }

        label {
            display: inline-block;
            width: 100px;
        }

        input:read-only {
            background: lightgray;
        }

        .row {
            margin-top: 10px;
        }
    </style>
</head>
<body>

<form id="edit-form" th:action="@{/library/comments/{id}/edit(id=${comment.id})}" th:object="${comment}" th:method="post" action="comment-edit.html">
    <div>
        <td><a th:href="@{/library}">Home</a></td>
    </div>
    <hr>

    <h1>Comment edit:</h1>

    <div class="row">
        <label for="book-id-input">Book ID:</label>
        <input id="book-id-input" type="text" readonly="readonly" th:value="${comment.bookId}" value="1"/>
    </div>

    <div class="row">
        <label for="id-input">Id:</label>
        <input id="id-input" type="text" readonly="readonly" th:value="${comment.id}" value="1"/>
    </div>

    <div class="row">
        <label for="holder-input">Description:</label>
        <input id="holder-input" name="name" type="text" th:value="${comment.description}" value="Comment1"/>
    </div>

    <div class="row">
        <button type="submit" name="action" value="save">Save</button>
        <button type="submit" name="action" value="delete">Delete</button>
        <button type="submit" name="action" value="cancel">Cancel</button>
    </div>
</form>

</body>
</html>
