<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Edit genre</title>
    <style type="text/css">
        body {
            padding: 50px;
        }

        label {
            display: inline-block;
            width: 100px;
        }

        input:read-only {
            background: lightgray;
        }

        .row {
            margin-top: 10px;
        }
    </style>
</head>
<body>

<form id="edit-form" th:action="@{/library/genres/edit}" th:method="post" action="genre-edit.html">
    <div>
        <td><a th:href="@{/library}">Home</a></td>
    </div>
    <hr>
    <h1>Genre edit:</h1>

    <div class="row">
        <label for="id-input">Id:</label>
        <input id="id-input" name="genreId" type="text" readonly="readonly" th:value="${genre.genreId}" value="1"/>
    </div>

    <div class="row">
        <label for="holder-input">Name:</label>
        <input id="holder-input" name="genreName" type="text" th:value="${genre.genreName}" value="Comedy"/>
    </div>

    <div class="row">
        <button type="submit" name="action" value="save">Save</button>
        <button type="button" name="action" value="cancel" onclick="window.location.href='/library/genres';">Cancel</button>
    </div>
</form>

</body>
</html>
