<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Library</title>
    <style type="text/css">
        body {
            padding: 50px;
        }

        .books, .books td {
            border: 1px solid lightgray;
            padding: 5px;
        }

    </style>
</head>
<body>

<hr>
<h1>Library:</h1>

<td><a th:href="@{/library/books}">Books</a></td>
<td><a th:href="@{/library/genres}">Genres</a></td>
<td><a th:href="@{/library/authors}">Authors</a></td>

</body>
</html>
